{% extends 'base.html' %}
{% block content %}
<header class="cadastro">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Jogador</th>
        <th scope="col">Idade</th>
        <th scope="col">Posição</th>
        <th scope="col">Posição Opcional</th>
        <th scope="col">Score Partida</th>
      </tr>
    </thead>
    <tbody>
    {% for form in object_list  %}
      <tr>
        <td><img src="{{form.foto.url}}"  alt="foto jogador" class="img-jogador"></td>
        <td><a href="{% url 'gerencia:detail_especifico' form.pk %}">{{form.nome}}</a></td>
        <td>{{form.idade}}</td>
        <td>{{form.posicao}}</td>
        <td>{{form.posicao_opcao}}</td>
        <td><a href="{% url 'gerencia:detail_score' form.pk %}"><i class="bi bi-card-checklist"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-card-checklist" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1
              .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5
               1.5 0 0 0 14.5 2h-13z"/>
              <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0
               0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1
              .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0
               .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg></i></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</header>
{% endblock %}
